In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('StudentsPerformance1.csv')

In [4]:
df

,gender,tools,level of education,mental health,test mode,score before pandemic,score after pandemic,aggregate score
0,female,Computer,bachelor's degree,normal,online,72,72,72.0
1,female,Mobile,college,normal,offline,69,90,79.5
2,female,Computer,college,normal,online,90,95,92.5
3,male,Tablet,associate's degree,stressed,online,47,57,52.0
4,male,Mobile,college,normal,online,76,78,77.0
...,...,...,...,...,...,...,...,...
995,female,Mobile,college,normal,offline,88,99,93.5
996,male,Mobile,school,stressed,online,62,55,58.5
997,female,Mobile,school,stressed,offline,59,71,65.0
998,female,Laptop,college,normal,offline,68,78,73.0
999,female,Laptop,college,stressed,online,77,86,81.5